language: php

php:
  - 7.3
  - 7.4

env:
  - LARAVEL_VERSION=7.*
  - LARAVEL_VERSION=8.*

matrix:
  fast_finish: true

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction
  - if [ "$LARAVEL_VERSION" != "" ]; then composer require --dev "laravel/laravel:${LARAVEL_VERSION}" --no-update; fi;
  - composer update --no-interaction

script:
  - phpunit
